<p style="color:red"><%= notice %></p>
<h1>About Us..</h1>
<p>Welcome to our user-friendly and interactive web page! We understand the challenges of managing a busy life, especially as a computer engineering student like yourself, Eralp. That's why we've created this platform to empower you in taking control of your activities effortlessly. Whether it's juggling your coursework, personal projects, or extracurricular activities, staying organized is key to success. With our innovative activity management system, you can now create personalized lists of tasks, events, or goals to help you stay on top of your game.

  Picture this: a sleek and intuitive interface that allows you to add and delete items from your list with just a few clicks. No more cumbersome spreadsheets or scribbled notes. Plan your day with ease and track your progress effortlessly, all in one place. Our platform is designed to streamline your workflow and enhance your productivity, making it easier for you to achieve your goals.

  As you pursue your passion for computer engineering, we want to be your ally in managing your time effectively. Whether it's coding projects, team meetings, or exam schedules, our platform adapts to your needs, ensuring you never miss a beat. Let's face it, life can be hectic, but with our powerful tools at your fingertips, you can maintain a sense of clarity and focus.

  So, take the leap and embrace efficiency with our activity management platform. Join a community of like-minded individuals who are determined to make the most out of their valuable time. Together, we'll conquer your to-do list and unlock your true potential. Empower yourself, Eralp, and let's embark on this journey of productivity and success together!</p>
<br><br><br>
<%= link_to "My Linkedin Account" ,"https://tr.linkedin.com/in/eralp-uçar-981388223 ", class:"btn btn-outline-primary" %>
<br><br><br>
<%= link_to "My GitHub Account" ,"https://github.com/eralpucar ", class:"btn btn-outline-dark" %>